body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #333;
    margin-top: 20px;
}
#camera-feed {
    margin: 20px 0;
}
img {
    border: 2px solid #555;
    border-radius: 8px;
    width: 640px;
    height: 480px;
}
.control-panel {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    max-width: 600px;
    width: 100%;
}
.control-button {
    padding: 15px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.control-button:hover {
    background-color: #0056b3;
}
#data-display {
    margin: 20px;
    font-size: 18px;
    color: #333;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70vh; /* Full viewport height */
}

/* Each half will take 50% of the container */
.half {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

/* Style for the camera feed */
#camera-feed img{
    width: 100%;
    height: 100%; /* Ensure both take up the full height of their container */
    border: 2px solid #555;
    border-radius: 8px;
}
#map {
    width: 100%;
    height: 92%; /* Ensure both take up the full height of their container */
    border: 2px solid #555;
    border-radius: 8px;
}