body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #333;
    margin-top: 20px;
}
#camera-feed {
    margin: 20px 0;
}
img {
    border: 2px solid #555;
    border-radius: 8px;
    width: 640px;
    height: 480px;
}
.keyboard-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

/* Each row in the keyboard */
.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Spacing between rows */
}

.control-button {
    width: 80px;
    height: 80px;
    background-color: #333;
    border: 2px solid #555;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px; /* Space between buttons */
    cursor: pointer;
    transition: background-color 0.3s;
}

.control-button img {
    width: 60px;
    height: 60px;
}

.control-button:hover {
    background-color: #555;
}
/* STOP Button */
.stop-button {
    width: 80px;
    height: 80px;
    background-color: #333;
    border: 2px solid #555;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px; /* Space between buttons */
    cursor: pointer;
    transition: background-color 0.3s;
}

.stop-button:hover {
    background-color: darkred;
}

#data-display {
    margin: 20px;
    font-size: 18px;
    color: #333;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 50vh; /* Full viewport height */
}

/* Each half will take 50% of the container */
.half {
    width: 50%;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px;
}

/* Style for the camera feed */
#camera-feed img{
    width: 100%;
    height: 100%; /* Ensure both take up the full height of their container */
    border: 2px solid #555;
    border-radius: 8px;
}
#map {
    width: 100%;
    height: 95%; /* Ensure both take up the full height of their container */
    border: 2px solid #555;
    border-radius: 8px;
}
.spacer-200 {
    width: 200px;
}

.spacer-100 {
    width: 100px;
}

.spacer-30 {
    width: 30px;
}