<!DOCTYPE html>
<html>
<head>
    <title>ROVER COMMAND CENTER</title>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div style="background-color: rgb(26, 26, 26); height: 50px; display: flex; align-items: center; justify-content: center;">
        <h1 style="text-align: center; color: white;">ROVER COMMAND CENTER</h1>
    </div>
    
    <!-- Area for displaying the camera feed -->
    <!-- <div id="camera-feed"> -->
        <!-- The camera stream will be displayed here -->
    <!-- </div> -->

    <!-- Servo control buttons -->
    <div style="text-align: center; margin-top: 50px;">
        <button onclick="sendCommand('increase')">Increase Servo Angle</button>
        <button onclick="sendCommand('decrease')">Decrease Servo Angle</button>
    </div>
</body>
</html>
